

.flag-icon-ad {
    background-image: url(../img/icons/ad.svg);
}

.flag-icon-ae {
    background-image: url(../img/icons/ae.svg);
}

.flag-icon-af {
    background-image: url(../img/icons/af.svg);
}

.flag-icon-ag {
    background-image: url(../img/icons/ag.svg);
}

.flag-icon-ai {
    background-image: url(../img/icons/ai.svg);
}

.flag-icon-al {
    background-image: url(../img/icons/al.svg);
}

.flag-icon-am {
    background-image: url(../img/icons/am.svg);
}

.flag-icon-ao {
    background-image: url(../img/icons/ao.svg);
}

.flag-icon-aq {
    background-image: url(../img/icons/aq.svg);
}

.flag-icon-ar {
    background-image: url(../img/icons/ar.svg);
}

.flag-icon-as {
    background-image: url(../img/icons/as.svg);
}


.flag-icon-at {
    background-image: url(../img/icons/at.svg);
}

.flag-icon-au {
    background-image: url(../img/icons/au.svg);
}

.flag-icon-aw {
    background-image: url(../img/icons/aw.svg);
}

.flag-icon-ax {
    background-image: url(../img/icons/ax.svg);
}

.flag-icon-az {
    background-image: url(../img/icons/az.svg);
}

.flag-icon-ba {
    background-image: url(../img/icons/ba.svg);
}

.flag-icon-bb {
    background-image: url(../img/icons/bb.svg);
}

.flag-icon-bd {
    background-image: url(../img/icons/bd.svg);
}

.flag-icon-be {
    background-image: url(../img/icons/be.svg);
}

.flag-icon-bf {
    background-image: url(../img/icons/bf.svg);
}

.flag-icon-bg {
    background-image: url(../img/icons/bg.svg);
}

.flag-icon-bh {
    background-image: url(../img/icons/bh.svg);
}

.flag-icon-bi {
    background-image: url(../img/icons/bi.svg);
}

.flag-icon-bj {
    background-image: url(../img/icons/bj.svg);
}

.flag-icon-bl {
    background-image: url(../img/icons/bl.svg);
}

.flag-icon-bm {
    background-image: url(../img/icons/bm.svg);
}

.flag-icon-bn {
    background-image: url(../img/icons/bn.svg);
}

.flag-icon-bo {
    background-image: url(../img/icons/bo.svg);
}

.flag-icon-bq {
    background-image: url(../img/icons/bq.svg);
}

.flag-icon-br {
    background-image: url(../img/icons/br.svg);
}

.flag-icon-bs {
    background-image: url(../img/icons/bs.svg);
}

.flag-icon-bt {
    background-image: url(../img/icons/bt.svg);
}

.flag-icon-bv {
    background-image: url(../img/icons/bv.svg);
}

.flag-icon-bw {
    background-image: url(../img/icons/bw.svg);
}

.flag-icon-by {
    background-image: url(../img/icons/by.svg);
}

.flag-icon-bz {
    background-image: url(../img/icons/bz.svg);
}

.flag-icon-ca {
    background-image: url(../img/icons/ca.svg);
}

.flag-icon-cc {
    background-image: url(../img/icons/cc.svg);
}

.flag-icon-cd {
    background-image: url(../img/icons/cd.svg);
}

.flag-icon-cf {
    background-image: url(../img/icons/cf.svg);
}

.flag-icon-cg {
    background-image: url(../img/icons/cg.svg);
}

.flag-icon-ch {
    background-image: url(../img/icons/ch.svg);
}

.flag-icon-ci {
    background-image: url(../img/icons/ci.svg);
}

.flag-icon-ck {
    background-image: url(../img/icons/ck.svg);
}

.flag-icon-cl {
    background-image: url(../img/icons/cl.svg);
}

.flag-icon-cm {
    background-image: url(../img/icons/cm.svg);
}

.flag-icon-cn {
    background-image: url(../img/icons/cn.svg);
}

.flag-icon-co {
    background-image: url(../img/icons/co.svg);
}

.flag-icon-cr {
    background-image: url(../img/icons/cr.svg);
}

.flag-icon-cu {
    background-image: url(../img/icons/cu.svg);
}

.flag-icon-cv {
    background-image: url(../img/icons/cv.svg);
}

.flag-icon-cw {
    background-image: url(../img/icons/cw.svg);
}

.flag-icon-cx {
    background-image: url(../img/icons/cx.svg);
}

.flag-icon-cy {
    background-image: url(../img/icons/cy.svg);
}

.flag-icon-cz {
    background-image: url(../img/icons/cz.svg);
}

.flag-icon-de {
    background-image: url(../img/icons/de.svg);
}

.flag-icon-dj {
    background-image: url(../img/icons/dj.svg);
}

.flag-icon-dk {
    background-image: url(../img/icons/dk.svg);
}

.flag-icon-dm {
    background-image: url(../img/icons/dm.svg);
}

.flag-icon-do {
    background-image: url(../img/icons/do.svg);
}

.flag-icon-dz {
    background-image: url(../img/icons/dz.svg);
}

.flag-icon-ec {
    background-image: url(../img/icons/ec.svg);
}

.flag-icon-ee {
    background-image: url(../img/icons/ee.svg);
}

.flag-icon-eg {
    background-image: url(../img/icons/eg.svg);
}

.flag-icon-eh {
    background-image: url(../img/icons/eh.svg);
}

.flag-icon-er {
    background-image: url(../img/icons/er.svg);
}

.flag-icon-es {
    background-image: url(../img/icons/es.svg);
}

.flag-icon-et {
    background-image: url(../img/icons/et.svg);
}

.flag-icon-fi {
    background-image: url(../img/icons/fi.svg);
}

.flag-icon-fj {
    background-image: url(../img/icons/fj.svg);
}

.flag-icon-fk {
    background-image: url(../img/icons/fk.svg);
}

.flag-icon-fm {
    background-image: url(../img/icons/fm.svg);
}

.flag-icon-fo {
    background-image: url(../img/icons/fo.svg);
}

.flag-icon-fr {
    background-image: url(../img/icons/fr.svg);
}

.flag-icon-ga {
    background-image: url(../img/icons/ga.svg);
}

.flag-icon-gb {
    background-image: url(../img/icons/gb.svg);
}

.flag-icon-gd {
    background-image: url(../img/icons/gd.svg);
}

.flag-icon-ge {
    background-image: url(../img/icons/ge.svg);
}

.flag-icon-gf {
    background-image: url(../img/icons/gf.svg);
}

.flag-icon-gg {
    background-image: url(../img/icons/gg.svg);
}

.flag-icon-gh {
    background-image: url(../img/icons/gh.svg);
}

.flag-icon-gi {
    background-image: url(../img/icons/gi.svg);
}

.flag-icon-gl {
    background-image: url(../img/icons/gl.svg);
}

.flag-icon-gm {
    background-image: url(../img/icons/gm.svg);
}

.flag-icon-gn {
    background-image: url(../img/icons/gn.svg);
}

.flag-icon-gp {
    background-image: url(../img/icons/gp.svg);
}

.flag-icon-gq {
    background-image: url(../img/icons/gq.svg);
}

.flag-icon-gr {
    background-image: url(../img/icons/gr.svg);
}

.flag-icon-gs {
    background-image: url(../img/icons/gs.svg);
}

.flag-icon-gt {
    background-image: url(../img/icons/gt.svg);
}

.flag-icon-gu {
    background-image: url(../img/icons/gu.svg);
}

.flag-icon-gw {
    background-image: url(../img/icons/gw.svg);
}

.flag-icon-gy {
    background-image: url(../img/icons/gy.svg);
}

.flag-icon-hk {
    background-image: url(../img/icons/hk.svg);
}

.flag-icon-hm {
    background-image: url(../img/icons/hm.svg);
}

.flag-icon-hn {
    background-image: url(../img/icons/hn.svg);
}

.flag-icon-hr {
    background-image: url(../img/icons/hr.svg);
}

.flag-icon-ht {
    background-image: url(../img/icons/ht.svg);
}

.flag-icon-hu {
    background-image: url(../img/icons/hu.svg);
}

.flag-icon-id {
    background-image: url(../img/icons/id.svg);
}

.flag-icon-ie {
    background-image: url(../img/icons/ie.svg);
}

.flag-icon-il {
    background-image: url(../img/icons/il.svg);
}

.flag-icon-im {
    background-image: url(../img/icons/im.svg);
}

.flag-icon-in {
    background-image: url(../img/icons/in.svg);
}

.flag-icon-io {
    background-image: url(../img/icons/io.svg);
}

.flag-icon-iq {
    background-image: url(../img/icons/iq.svg);
}

.flag-icon-ir {
    background-image: url(../img/icons/ir.svg);
}

.flag-icon-is {
    background-image: url(../img/icons/is.svg);
}

.flag-icon-it {
    background-image: url(../img/icons/it.svg);
}

.flag-icon-je {
    background-image: url(../img/icons/je.svg);
}

.flag-icon-jm {
    background-image: url(../img/icons/jm.svg);
}

.flag-icon-jo {
    background-image: url(../img/icons/jo.svg);
}

.flag-icon-jp {
    background-image: url(../img/icons/jp.svg);
}

.flag-icon-ke {
    background-image: url(../img/icons/ke.svg);
}

.flag-icon-kg {
    background-image: url(../img/icons/kg.svg);
}

.flag-icon-kh {
    background-image: url(../img/icons/kh.svg);
}

.flag-icon-ki {
    background-image: url(../img/icons/ki.svg);
}

.flag-icon-km {
    background-image: url(../img/icons/km.svg);
}

.flag-icon-kn {
    background-image: url(../img/icons/kn.svg);
}

.flag-icon-kp {
    background-image: url(../img/icons/kp.svg);
}

.flag-icon-kr {
    background-image: url(../img/icons/kr.svg);
}

.flag-icon-kw {
    background-image: url(../img/icons/kw.svg);
}

.flag-icon-ky {
    background-image: url(../img/icons/ky.svg);
}

.flag-icon-kz {
    background-image: url(../img/icons/kz.svg);
}

.flag-icon-la {
    background-image: url(../img/icons/la.svg);
}

.flag-icon-lb {
    background-image: url(../img/icons/lb.svg);
}

.flag-icon-lc {
    background-image: url(../img/icons/lc.svg);
}

.flag-icon-li {
    background-image: url(../img/icons/li.svg);
}

.flag-icon-lk {
    background-image: url(../img/icons/lk.svg);
}

.flag-icon-lr {
    background-image: url(../img/icons/lr.svg);
}

.flag-icon-ls {
    background-image: url(../img/icons/ls.svg);
}

.flag-icon-lt {
    background-image: url(../img/icons/lt.svg);
}

.flag-icon-lu {
    background-image: url(../img/icons/lu.svg);
}

.flag-icon-lv {
    background-image: url(../img/icons/lv.svg);
}

.flag-icon-ly {
    background-image: url(../img/icons/ly.svg);
}

.flag-icon-ma {
    background-image: url(../img/icons/ma.svg);
}

.flag-icon-mc {
    background-image: url(../img/icons/mc.svg);
}

.flag-icon-md {
    background-image: url(../img/icons/md.svg);
}

.flag-icon-me {
    background-image: url(../img/icons/me.svg);
}

.flag-icon-mf {
    background-image: url(../img/icons/mf.svg);
}

.flag-icon-mg {
    background-image: url(../img/icons/mg.svg);
}

.flag-icon-mh {
    background-image: url(../img/icons/mh.svg);
}

.flag-icon-mk {
    background-image: url(../img/icons/mk.svg);
}

.flag-icon-ml {
    background-image: url(../img/icons/ml.svg);
}

.flag-icon-mm {
    background-image: url(../img/icons/mm.svg);
}

.flag-icon-mn {
    background-image: url(../img/icons/mn.svg);
}

.flag-icon-mo {
    background-image: url(../img/icons/mo.svg);
}

.flag-icon-mp {
    background-image: url(../img/icons/mp.svg);
}

.flag-icon-mq {
    background-image: url(../img/icons/mq.svg);
}

.flag-icon-mr {
    background-image: url(../img/icons/mr.svg);
}

.flag-icon-ms {
    background-image: url(../img/icons/ms.svg);
}

.flag-icon-mt {
    background-image: url(../img/icons/mt.svg);
}

.flag-icon-mu {
    background-image: url(../img/icons/mu.svg);
}

.flag-icon-mv {
    background-image: url(../img/icons/mv.svg);
}

.flag-icon-mw {
    background-image: url(../img/icons/mw.svg);
}

.flag-icon-mx {
    background-image: url(../img/icons/mx.svg);
}

.flag-icon-my {
    background-image: url(../img/icons/my.svg);
}

.flag-icon-mz {
    background-image: url(../img/icons/mz.svg);
}

.flag-icon-na {
    background-image: url(../img/icons/na.svg);
}

.flag-icon-nc {
    background-image: url(../img/icons/nc.svg);
}

.flag-icon-ne {
    background-image: url(../img/icons/ne.svg);
}

.flag-icon-nf {
    background-image: url(../img/icons/nf.svg);
}

.flag-icon-ng {
    background-image: url(../img/icons/ng.svg);
}

.flag-icon-ni {
    background-image: url(../img/icons/ni.svg);
}

.flag-icon-nl {
    background-image: url(../img/icons/nl.svg);
}

.flag-icon-no {
    background-image: url(../img/icons/no.svg);
}

.flag-icon-np {
    background-image: url(../img/icons/np.svg);
}

.flag-icon-nr {
    background-image: url(../img/icons/nr.svg);
}

.flag-icon-nu {
    background-image: url(../img/icons/nu.svg);
}

.flag-icon-nz {
    background-image: url(../img/icons/nz.svg);
}

.flag-icon-om {
    background-image: url(../img/icons/om.svg);
}

.flag-icon-pa {
    background-image: url(../img/icons/pa.svg);
}

.flag-icon-pe {
    background-image: url(../img/icons/pe.svg);
}

.flag-icon-pf {
    background-image: url(../img/icons/pf.svg);
}

.flag-icon-pg {
    background-image: url(../img/icons/pg.svg);
}

.flag-icon-ph {
    background-image: url(../img/icons/ph.svg);
}

.flag-icon-pk {
    background-image: url(../img/icons/pk.svg);
}

.flag-icon-pl {
    background-image: url(../img/icons/pl.svg);
}

.flag-icon-pm {
    background-image: url(../img/icons/pm.svg);
}

.flag-icon-pn {
    background-image: url(../img/icons/pn.svg);
}

.flag-icon-pr {
    background-image: url(../img/icons/pr.svg);
}

.flag-icon-ps {
    background-image: url(../img/icons/ps.svg);
}

.flag-icon-pt {
    background-image: url(../img/icons/pt.svg);
}

.flag-icon-pw {
    background-image: url(../img/icons/pw.svg);
}

.flag-icon-py {
    background-image: url(../img/icons/py.svg);
}

.flag-icon-qa {
    background-image: url(../img/icons/qa.svg);
}

.flag-icon-re {
    background-image: url(../img/icons/re.svg);
}

.flag-icon-ro {
    background-image: url(../img/icons/ro.svg);
}

.flag-icon-rs {
    background-image: url(../img/icons/rs.svg);
}

.flag-icon-ru {
    background-image: url(../img/icons/ru.svg);
}

.flag-icon-rw {
    background-image: url(../img/icons/rw.svg);
}

.flag-icon-sa {
    background-image: url(../img/icons/sa.svg);
}

.flag-icon-sb {
    background-image: url(../img/icons/sb.svg);
}

.flag-icon-sc {
    background-image: url(../img/icons/sc.svg);
}

.flag-icon-sd {
    background-image: url(../img/icons/sd.svg);
}

.flag-icon-se {
    background-image: url(../img/icons/se.svg);
}

.flag-icon-sg {
    background-image: url(../img/icons/sg.svg);
}

.flag-icon-sh {
    background-image: url(../img/icons/sh.svg);
}

.flag-icon-si {
    background-image: url(../img/icons/si.svg);
}

.flag-icon-sj {
    background-image: url(../img/icons/sj.svg);
}

.flag-icon-sk {
    background-image: url(../img/icons/sk.svg);
}

.flag-icon-sl {
    background-image: url(../img/icons/sl.svg);
}

.flag-icon-sm {
    background-image: url(../img/icons/sm.svg);
}

.flag-icon-sn {
    background-image: url(../img/icons/sn.svg);
}

.flag-icon-so {
    background-image: url(../img/icons/so.svg);
}

.flag-icon-sr {
    background-image: url(../img/icons/sr.svg);
}

.flag-icon-ss {
    background-image: url(../img/icons/ss.svg);
}

.flag-icon-st {
    background-image: url(../img/icons/st.svg);
}

.flag-icon-sv {
    background-image: url(../img/icons/sv.svg);
}

.flag-icon-sx {
    background-image: url(../img/icons/sx.svg);
}

.flag-icon-sy {
    background-image: url(../img/icons/sy.svg);
}

.flag-icon-sz {
    background-image: url(../img/icons/sz.svg);
}

.flag-icon-tc {
    background-image: url(../img/icons/tc.svg);
}

.flag-icon-td {
    background-image: url(../img/icons/td.svg);
}

.flag-icon-tf {
    background-image: url(../img/icons/tf.svg);
}

.flag-icon-tg {
    background-image: url(../img/icons/tg.svg);
}

.flag-icon-th {
    background-image: url(../img/icons/th.svg);
}

.flag-icon-tj {
    background-image: url(../img/icons/tj.svg);
}

.flag-icon-tk {
    background-image: url(../img/icons/tk.svg);
}

.flag-icon-tl {
    background-image: url(../img/icons/tl.svg);
}

.flag-icon-tm {
    background-image: url(../img/icons/tm.svg);
}

.flag-icon-tn {
    background-image: url(../img/icons/tn.svg);
}

.flag-icon-to {
    background-image: url(../img/icons/to.svg);
}

.flag-icon-tr {
    background-image: url(../img/icons/tr.svg);
}

.flag-icon-tt {
    background-image: url(../img/icons/tt.svg);
}

.flag-icon-tv {
    background-image: url(../img/icons/tv.svg);
}

.flag-icon-tw {
    background-image: url(../img/icons/tw.svg);
}

.flag-icon-tz {
    background-image: url(../img/icons/tz.svg);
}

.flag-icon-ua {
    background-image: url(../img/icons/ua.svg);
}

.flag-icon-ug {
    background-image: url(../img/icons/ug.svg);
}

.flag-icon-um {
    background-image: url(../img/icons/um.svg);
}

.flag-icon-us {
    background-image: url(../img/icons/us.svg);
}

.flag-icon-uy {
    background-image: url(../img/icons/uy.svg);
}

.flag-icon-uz {
    background-image: url(../img/icons/uz.svg);
}

.flag-icon-va {
    background-image: url(../img/icons/va.svg);
}

.flag-icon-vc {
    background-image: url(../img/icons/vc.svg);
}

.flag-icon-ve {
    background-image: url(../img/icons/ve.svg);
}

.flag-icon-vg {
    background-image: url(../img/icons/vg.svg);
}

.flag-icon-vi {
    background-image: url(../img/icons/vi.svg);
}

.flag-icon-vn {
    background-image: url(../img/icons/vn.svg);
}

.flag-icon-vu {
    background-image: url(../img/icons/vu.svg);
}

.flag-icon-wf {
    background-image: url(../img/icons/wf.svg);
}

.flag-icon-ws {
    background-image: url(../img/icons/ws.svg);
}

.flag-icon-ye {
    background-image: url(../img/icons/ye.svg);
}

.flag-icon-yt {
    background-image: url(../img/icons/yt.svg);
}

.flag-icon-za {
    background-image: url(../img/icons/za.svg);
}

.flag-icon-zm {
    background-image: url(../img/icons/zm.svg);
}

.flag-icon-zw {
    background-image: url(../img/icons/zw.svg);
}

.container-fluid-admin{
    height: 100%;
    padding: 0;
    background-image: url("/public/admin/img/general/Wallpapers-Background-Full-HD.jpg");
    background-size: cover;
}
.position-center{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}